<div class="container mt-3">  
    <H1 class="text-center">Student registration from</H1>
    <form (ngSubmit)="createStudent()"> 
       
        <div class="mb-3">  
            <label class="form-label">Name</label>  
            <input type="text" class="form-control" [(ngModel)]="students.name" name="name" required>  
        </div>  

        <div class="mb-3">  
            <label class="form-label">Age</label>  
            <input type="number" class="form-control" [(ngModel)]="students.age" name="age" required>  
        </div>  

        <div class="mb-3">  
            <label class="form-label">Birthday</label>  
            <input type="date" class="form-control" [(ngModel)]="students.birthday" name="birthday" required>  
        </div>  

        <div class="mb-3">  
            <label class="form-label">Gender:</label>  &nbsp;
            <div class="form-check form-check-inline">  
                <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male" [(ngModel)]="students.gender" required>  
                <label class="form-check-label" for="inlineRadio1">Male</label>  
            </div>  
            <div class="form-check form-check-inline">  
                <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Female" [(ngModel)]="students.gender">  
                <label class="form-check-label" for="inlineRadio2">Female</label>  
            </div>  
            <div class="form-check form-check-inline">  
                <input class="form-check-input" type="radio" name="gender" id="inlineRadio3" value="Others" [(ngModel)]="students.gender">  
                <label class="form-check-label" for="inlineRadio3">Others</label>  
            </div>  
        </div>  

        <div class="mb-3">  
            <label for="department" class="form-label">Departments</label>  
            <select id="department" name="department" class="form-select" required [(ngModel)]="students.department.id">  
                <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}</option>  
            </select>  
            <div class="invalid-feedback">Please select a department</div>  

            <label for="faculty" class="form-label">Faculty</label>  
            <select id="faculty" name="faculty" class="form-select" required [(ngModel)]="students.faculty.id">  
                <option *ngFor="let dept of departments" [ngValue]="dept.faculty.id">{{dept.faculty.name}}</option>  
            </select>  
            <div class="invalid-feedback">Please select a faculty</div>  
        </div>  

        <button type="submit" class="btn btn-primary">Submit</button>  
    </form>  
</div>